h2 {
  color: rgb(0, 0, 0);
}

body {
  background-color: #ffffff;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  background-image: url("images/pastel-yellow-soft-gradient-blur-vector-background_53876-174855.avif");
  background-size: contain;
}

p {
  text-decoration: none;
  font-weight: bold;
  text-align: center;
}

.img-circle {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.card {
  background: rgb(255, 212, 146);
  margin: 50px auto;
  padding: 0 50px;
  border-style: dotted;
  border-radius: 10px;
  text-align: center;
  width: 500px;
}

.list-inline {
  padding: 0px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.btn {
  display: inline-block;
  margin: 1rem 0;
  padding: 16px 24px;
  background-color: rgb(255, 195, 112);
  color: rgb(0, 0, 0);
  border-radius: 8px;
  border-style: dotted;
  text-decoration: none;
  transition: 100ms;
}

.btn:hover {
  background-color: black;
  background-size: white;
}
